{% extends 'base.html' %}
{% load static %}

{% block meta%} <title>Login Form</title>{% endblock meta%}
{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock script %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container-fluid" style="background-color: #2cacd7;">
 
  <div class="main">
      <h1 class="display-4" style="margin-top:5vw; color: #ffffff;">Log In</h1>   
  </div>
  <div class="login-page">
    
    <div class="login-form" >
      <form action="{% url 'story9:login' %}" method="POST">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <input type="submit" value="Login" style="color:white ; background-color: #2cacd7; margin-top: 3vw; font-size: large;">
      </form>
      <p style="margin-top: 2vw; font-size: medium;"> wanna try logging in? input <span>"admin"</span> as the username and the password</p>
      <p style="font-size: medium;"> Don't have an account? register <a href="{% url 'story9:register' %}">here</a> </p>
    </div>
    
  </div>
  
    
</div>

{% endblock content %}
