{% extends 'base.html' %}
{% load static %}

{% block meta%} <title>Registration Form</title>{% endblock meta%}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock script %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container-fluid" style="background-color: #2cacd7; min-height: 700px;">

  {% if user.is_authenticated %}
  <div class="main">
    <h3 class="title3" style="margin-top:100px; font-size: 7vw; color: #ffffff; text-align: center;">You're <span>Logged</span> In </h3>
    <div class="center" style="text-align: center; margin:3vw">
      <p style="color: #ffffff; font-size: large;"> do you want to logout? </p>
      <a href="{% url 'story9:logout' %}">
              <button style="font-size: large;" class="btn btn-primary active" id="logout">Logout</button>
      </a>
  </div>

  </div>
  
  {% else %}
  <div class="main">
    <h1 class="display-4" style="margin-top:5vw; color: #ffffff;">Sign Up</h1> 
  </div>
  <div class="login-page">
    
    <div class="login-form" >
      <form action="{% url 'story9:register' %}" method="POST">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <input type="submit" value="Signup" style="color:white ; background-color: #2cacd7; margin-top: 1vw; font-size: large;">
      </form>
      <p style="margin-top: 1vw; font-size: medium;"> If you already have an account login <a href="{% url 'story9:login' %}">here</a> </p>
    </div>
    
  </div>
  {% endif %}
    
</div>

{% endblock content %}
