{% if user.is_authenticated %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light " id="navbar">
    <a class="navbar-brand " href="{% url 'main:home' %}">S.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
          <ul class="nav navbar-nav ml-auto">
          <li><a class="nav-link " href="{% url 'main:About' %}">About<span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link " href="/#personalhighlights">Highlights</a></li>
          <li><a class="nav-link " href="/#experience">Portfolio</a></li>
          <li><a class="nav-link " href="/#Skills">Skills</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a style="font-size: large;" class="dropdown-item" href="{% url 'main:add_class'%}"> Class </a>
              <a style="font-size: large;" class="dropdown-item" href="{% url 'kegiatan:activities' %}"> Activities</a>
            </div>
          </li>
          <li><a class="nav-link " href="{% url 'story9:register' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Hello, <span>{{ user }}</span></a></li>
          <li><a class="nav-link " href="{% url 'story9:logout' %}">Logout</a></li>
          </ul>
      </div>
    </nav>

{% else %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light " id="navbar">
  <a class="navbar-brand " href="{% url 'main:home' %}">S.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <ul class="nav navbar-nav ml-auto">
        <li><a class="nav-link " href="{% url 'main:About' %}">About<span class="sr-only">(current)</span></a></li>
        <li><a class="nav-link " href="/#personalhighlights">Highlights</a></li>
        <li><a class="nav-link " href="/#experience">Portfolio</a></li>
        <li><a class="nav-link " href="/#Skills">Skills</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a style="font-size: large;" class="dropdown-item" href="{% url 'main:add_class'%}"> Class </a>
            <a style="font-size: large;" class="dropdown-item" href="{% url 'kegiatan:activities' %}"> Activities</a>
          </div>
        </li>
        <li><a class="nav-link " href="{% url 'story9:register' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Register</a></li>
        <li><a class="nav-link " href="{% url 'story9:login' %}">Login</a></li>
        </ul>
    </div>
  </nav>
{% endif %}