{% extends 'base.html' %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock script %}


{% block content %}
<div class="container-fluid" id="add_class">
    <div class="row">
        <div class="col-md-12">
            <h1 id="judul-addform">Add Mata Kuliah</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="form">
            
                <form action="" method="POST"  >
                    {% csrf_token %}
                    <table id="table-form">
                    {{ form.as_table }}
                    </table>
                    <br><br>
                    <input type="submit"> 
                </form>
          
           
        </div>
    </div> 
</div>
{% endblock content %}