{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Shabiqa's Page</title>
{% endblock meta %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 


{% endblock script %}

{% block content %}
 <!-- Jumbotron -->
 <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="display-4">Shabiqa Amani</h1>
      <hr class="hr2">
      <p class="lead ">passionate learner</p>
    </div>
  </div>
  <!-- Akhir Jumbotron-->

<!-- Personal Highlights & Contact-->

  <div class="container-fluid" id="personalhighlights">
      <div class="row">
          <div class="col-sm-12" >
              <h1 id="judul-PH">Personal Highlights</h1>
          </div>
      </div>

      <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
              <img src="{% static "img/picture1.png" %}" class="foto1">
          </div>
          <div class="col-sm-6 " id="highlights">
              <p>Undergraduate Information System Student University of Indonesia</p>
              <br>
              <p>Participant of English Debate Competition</p>
              <br>
              <p>Born in Cirebon, 2nd of August 2001</p>
              <br>
              <p> TOEFL Score of 560</p>
              <br>
              <a style="font-size: medium;" class="btn btn-outline-primary" href="#more" role="button">CLICK ME</a>
          </div>
      </div>

      <div class="row">
        <div class="col-md" id="icon">
          <a href="mailto:shabiqaamani@gmail.com"><img class="foto" src="{% static "img/mail1.png" %}"></a>  
          <a href="https://www.linkedin.com/in/shabiqa-amani-42b807158/"><img class="foto" src="{% static "img/linkedin1.png" %}" id="icon1"></a>
          <a href="https://twitter.com/_shabiqaamani" ><img class="foto"  src="{% static "img/twitter1.png" %}" id="icon2"></a> 
          <a href= "https://www.instagram.com/shabiqaamani/"><img class="foto" src="{% static "img/instagram1.png" %}" id="icon3"></a>
        </div>
       
      </div>
  </div>
 

<!-- Experiences & Education -->

<div class="container-fluid" id="experience">
  <div class="row">
    <div class="col text-center" >
      <h1 id="judul">P.O.R.T.F.O.L.I.O</h1>
      <a style="font-size: medium;" class="btn btn-primary" href="{% url 'main:portfolio' %}" role="button">CLICK ME</a>
    </div>
   
  </div>
</div>

<!-- Skills -->

<div class="container-fluid" id="Skills">
    <div class="row">
      <div class="col-md" id="skill">
        <p> Java (Score: 3/5)</p>
        <p> Python (Score: 3/5)</p>
        <p> Data Science (Score: 3/5)</p>
        <p> Microsoft Word (Score: 4/5)</p>
        <p> Korean Language (Score: 3/5) </p>
        <p> English Language (Score: 4/5) </p>
        <p> Microsoft PowerPoint (Score: 4/5)</p>
      </div>

      <div class="col-md ">
        <h1 id="judul-skill">S.K.I.L.L.S</h1>
      </div>
    </div>
</div>

<!--This is My Life-->
<div class="container-fluid" id = "more">
  <div class="row">
    <div class="col-md-12 " >
      <h1 id="judul-TIML">This Is My Life...</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <img class="mylife" src="{% static "img/Picture2.png" %}" >
    </div>
    <div class="col-md-3">
      <img class="mylife-1" src="{% static "img/family.png" %}" >
    </div>
      <div class="col-md-3">
        <img class="mylife" src="{% static "img/teman.png" %}">
      </div>
      <div class="col-md-3">
        <img class="mylife-1" src="{% static "img/ariana.png" %}">
      </div>
  </div>
</div>


<div class="container-fluid">
  <div id="accordion">
    <h3>My Activity</h3>
    <div>
      <p>
        Staff of Keilmuan Department BEM Fasilkom UI
      </p>
    </div>
    <h3>Section 2</h3>
    <div>
      <p>
      Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
      purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
      velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
      suscipit faucibus urna.
      </p>
    </div>
    <h3>Section 3</h3>
    <div>
      <p>
      Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
      Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
      ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
      lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
      </p>
      <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
    </div>
    <h3>Section 4</h3>
    <div>
      <p>
      Cras dictum. Pellentesque habitant morbi tristique senectus et netus
      et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
      faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
      mauris vel est.
      </p>
      <p>
      Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos.
      </p>
    </div>
  </div>
</div>



<script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
