{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Portfolio</title>
{% endblock meta %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock script %}

{% block content %}
<div class="container-fluid" id="portfolio">
    <div class="row">
        <div class="col-md-6" >
            <h1 id="judul-exp">E.X.P.E.R.I.E.N.C.E.S</h1>
        </div>

        <div class="col-md-6" id="exp">
            <ul>
                <li>Staff of Keilmuan Department BEM Fasilkom UI<br> 2019-present</li>
                <li>Secretary of 98 High School's Red Cross Team <br> 2016-2018</li>
                <li>Participant of English Debate Competition <br> 2017 </li>
                <li>Participant of Storytelling Competition <br> 2015</li>

            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <h1 id="judul-EDU">E.D.U.C.A.T.I.O.N</h1>
      </div>
    </div>
  
  <div class="row">
    <div class="col-md-4 ">
      <a href="https://www.cs.ui.ac.id/"><img class= "foto-edu" src="{% static "img/LogoFasilkom.png" %}"></a>
      <p class="edu-year">2019-present</p>
    </div>
    <div class="col-md-4 ">
      <a href="https://sman98jakarta.sch.id/"><img class= "foto-edu" src="{% static "img/LogoSMA.png" %}"></a>
      <p class="edu-year">2016-2019</p>
    </div>
    <div class="col-md-4 ">
      <a href="http://sekolah.data.kemdikbud.go.id/index.php/chome/profil/4061f095-2bf5-e011-82be-956fc812a465"><img class= "foto-edu" src="{% static "img/LogoSMP.jpeg" %}"></a>
      <p class="edu-year">2013-2016</p>
    </div>
  </div>

  
</div>


{% endblock content %}
