{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My Profile</title>
{% endblock meta %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock script %}

{% block content %}
<div class="container-fluid" id="Aboutme">
<div class = "row">
  <div class = "col-md-6">
    <img class="foto1" src="{% static "img/Profile.png" %}" >
    <h2 class="judul-home"> Hi!</h2>
  </div>
  <div class="col-md-5" id="Profile">
    <h3 class="header-about">ABOUT ME</h3>
    <hr class="hr1">
    <br>
    <p>Shabiqa Amani</p>
    <p>NPM : 1906299143</p>
    <p>Angkatan : 2019</p>
    <p>Universitas Indonesia</p>
    <p>"My hobbies are swimming, reading novels and watching movies. I'm a very enthusiasthic and an energetic person."
  </div>
</div>
</div>
</div>
{% endblock content %}
