

{% extends 'base.html' %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock script %}

{% block content %}
<div class="container-fluid" id= "hasil-form">
    <div class="row">
        <div class="col-md-12">
           <h1 id="judul-hasilform">My Activities</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <table id="table-matkul">
                    <tr>
                        <th class="row-tableform">Nama Kegiatan</th>
                        <th class="row-tableform">Peserta</th>
                        <th class="row-tableform">Aksi</th>
                     
                      </tr>
                    {% for i in products%}
                    <tr>
                        <td class="row-tableform"> 
                            {{ i.Nama_Kegiatan}} 
                        </td>
                        <td class="row-tableform">
                            {{ i.Nama}}
                        </td>
                        <td class="row-tableform">
                            <a style="font-size: large;" class="btn btn-primary" href="{% url 'kegiatan:peserta' %}">Tambah Peserta</a>
                            <a style="font-size: large;" class="btn btn-primary" href="delete/{{i.Nama_Kegiatan}}" onclick="return confirm ('Anda yakin ingin menghapus kegiatan ini?');" >Hapus</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="7" class="row-tableform">Currently there's no subject</td></tr>
                    {% endfor %}
                </table>  
                <br><br><br> 
                <a style="font-size: large;" class="btn btn-primary" href="{% url 'kegiatan:new_activity' %}" role="button">Add Activity</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}




